@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:wght@400;500;600&display=swap');
/* root of colors */
:root{
    --primary-color:#2c3855;
    --primary-color-dark:#435681;
    --text-dark:#333333;
    --text-light:#767268;
    --extra-light:#f3f4f6;
    --white:#ffffff;
    --max-width:1200px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* nav bar and logo + booking section */
body{

    font-family: "Poppins", sans-serif;
}
.section__container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}
.section__header{
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
    text-align: center;
}
a{
    text-decoration: none;

}
img{
    width: 100%;
    display: flex;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 2rem 1rem;
    max-width: var(--max-width);
}

.nav-items{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 18rem;
    cursor: pointer;
}
.center-nav{
    list-style: none;
    display: flex;
    gap: 2rem;
}
.right-nav{
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-right: 30px;
}
.right-nav .register{
    border: 1px solid var(--primary-color-dark);
    padding: 4px;
}
.right-nav .login{
    border-radius: 1rem;
    background-color: var(--primary-color);
    width: 70px;
    padding: 5px;
    text-align: center;
    color: var(--white);
}
.right-nav .login:hover{
     background-color: var(--primary-color-dark);
     cursor: pointer;
}
.right-nav .register:hover{
    border: 2px solid var(--primary-color);
    cursor: pointer;
}
.center-nav .home{
    color: var(--primary-color);
    font-weight: 600;
}
.link a{
    color: var(--text-light);
    font-weight: 500;
    transition: 0.3s;
}
.logo{
    width: 150px;
    height: 150px;
}
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
  
  .hamburger span {
    width: 25px;
    height: 3px;
    background-color: var(--text-dark);
    border-radius: 2px;
    transition: 0.3s;
  }
.header-container{
    padding: 1rem 1rem 5rem 1rem;
}
.image-container{
    margin-left: 7%;
    margin-right: 7%;
    position: relative;
    min-height: 500px;
    background-image: linear-gradient(to right, rgba(44, 56, 85, .9), rgba(100, 125, 187, .1)),
    url("img/header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem;

}
.image-content{
    max-width: 600px;
    padding: 5rem 2rem;
}
.image-content h1{
    color: var(--white);
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 600;
}
.image-content p{
    color: var(--extra-light);
}
.booking-container{
    
    position: absolute;
    bottom: -5rem;
    left: 50%;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 2rem;
    padding: 3rem 2rem;
    transform: translateX(-50%);
    width: calc(100% - 6rem);
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    
}
.booking-container form{
     width: 100%;
     flex: 1;
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 1rem;
}
.booking-container .input-group{
    width: 100%;
    position: relative;
}
.booking-container label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-dark);
    pointer-events: none;
    transition: 0.3s;
}
.booking-container input{
    background-color: transparent;
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    outline: none;
    border: none;
    font-weight: 500;
    color: var(--text-dark);
    border-bottom: 1px solid var(--primary-color);
}
.booking-container input:focus ~ label{
    font-size: 0.8rem;
    top: 0;
}
.booking-container .form-group p{
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: var(--text-light);
}
.booking-container .btn-search{
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
}
.booking-container .btn-search:hover{
    background-color: var(--primary-color-dark);
}
.booking-container .btn-search:hover{
    background-color: var(--primary-color-dark);
}

/* section of popular Hotels */
.popular-grid{
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.popular-card{
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.popular-content{
    padding: 1rem;

}
.popular-content img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 1rem;
}
.popular-card img:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.9s;
}
.popular-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}
.popular-header h4{
    font-size: 1.2rem;
    font-weight: 600;
}
.popular-header h4 span{
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--text-dark);
}
.popular-content p{
    font-size: 0.8rem;
    color: var(--text-light);
}
.popular-container h2{
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 600;
}
/* client section */
.client{
    background-color: var(--extra-light);
    height: 70vh;
}
.client-grid{
    margin-left: 7%;
    margin-right: 7%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 4rem;
}
.client-card{
    padding: 2rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.client-card img{
    width: 100px;
    margin: auto;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.client-card p{
    margin-top: 1rem;
    font-size: 0.8rem;
    color: var(--text-light);
}
.client-container h2{
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 600;
}
.client-card p{
    text-align: center;
    color: var(--text-dark);
}
.client-card:hover{
    transform: scale(1.1);
    transition: 0.9s;
}

/* rewards section */
.reward{
    margin-top: 4rem;
    margin-left: 7%;
    margin-right: 7%;
}
.reward-container{
    padding: 2rem;
    text-align: center;
    border-radius: 2rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);

}
.reward-container p{
    margin-bottom: 1rem;
    font-weight: 500;
    color: var(--text-light);
}
.reward-container h4{
    max-width: 500px;
    margin: auto;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
}
.btn-rewards{
    padding: 1rem 3rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 1rem;

}
.btn-rewards:hover{
    background-color: var(--primary-color-dark);
}

/* footer */

.footer{
    margin-top: 2rem;
    background-color: var(--extra-light);
}
.footer-container{
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    gap: 4rem;
}
.footer-col h3{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
}
.footer-col h4{
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}
.footer-col p{
    margin-bottom: 1rem;
    color: var(--text-light);
    cursor: pointer;
    transition: 0.3s;
}
.footer-bar{
    position: relative;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    font-size: .9rem;
    font-weight: 500;
    text-align: right;
    color: var(--text-light);
    overflow: hidden;
}
.footer-bar::before{
    content: "";
    position: absolute;
    top: 50%;
    right: 28rem;
    transform: translateY(-50%);
    width: 20rem;
    background-color: var(--text-light);
}

/* offers section */
.offers{
    background-color: var(--extra-light);
}
.offers h1{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding-top: 15px;
}
.offers-header h4{
    padding-top: 9px;
}
.offers-grid{
    margin-left: 7%;
    margin-right: 7%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.offers-header img{
    overflow: hidden;
    border-radius: 1rem;
    width: 100%;
}
.offers-card{
    background-color: var(--white);
    border-radius: 1rem;
    height: 50vh;
    margin-bottom: 2rem;
}
.offers-content{
    padding: 1rem;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}
.offers-header h4{
    text-align: center;
}
.old-price {
    text-decoration: line-through;
    color: #999;  
    font-size: 16px;  
    margin-bottom: 5px; 
}

.new-price {
    font-weight: bold;
    color: #e74c3c;  
    font-size: 20px;  
    display: inline-block; 
    animation: bounce 2s ease-in-out infinite; 
}
.btn-offers{
    padding: 15px;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: var(--white);
    width: 120px;
    border-radius: 10px;
}
.btn-offers:hover{
    background-color: var(--primary-color-dark);
    cursor: pointer;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

/* section blog and guide */
.blog-section {
    margin-left: 7%;
    margin-right: 7%;
    background-color: #f9f9f9;
    padding: 60px 0;
    text-align: center;
}

.blog-section h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 15px;
}

.blog-section p {
    font-size: 1rem;
    color: #777;
    margin-bottom: 40px;
}

.blog-posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    justify-items: center;
}

.blog-card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 320px;
    transition: transform 0.3s ease-in-out;
}

.blog-card:hover {
    transform: translateY(-10px);
}

.blog-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blog-content {
    padding: 20px;
}

.blog-content h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
}

.blog-content p {
    font-size: 1rem;
    color: #777;
    margin-bottom: 20px;
}

.read-more-btn {
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
}

.read-more-btn:hover {
    text-decoration: underline;
}

.cta {
    margin-top: 40px;
}

.cta-btn {
    background-color: var(--primary-color);
    color: #fff;
    padding: 12px 24px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
}

.cta-btn:hover {
    background-color: var(--primary-color-dark);
}

/* responsive for small screens */
@media (width < 900px) {
    .booking-container form {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .popular-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  
    .client-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
    
    .footer-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (width < 600px) {
    .nav-items {
      display: none;
    }
  
    .header-container {
      padding-bottom: 25rem;
    }
  
    .booking-container {
      flex-direction: column;
      bottom: -25rem;
    }
  
    .booking-container form {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .popular-grid {
      grid-template-columns: repeat(1, 1fr);
    }
     .offers-grid{
        grid-template-columns: repeat(1, 1fr);
     }
    .client-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .footer-container {
      gap: 2rem;
    }
    .reward-container{
        margin-top: 740px;
    }
    .nav-items {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--white);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

    .nav-items.active {
        display: flex;
    }

    .center-nav, .right-nav {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .hamburger {
        display: flex;
    }
  }


  
